@tailwind base;
@tailwind components;
@tailwind utilities;

/* 라이트 테마만 사용하도록 고정 */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker-popper {
  z-index: 9999 !important;
}

.react-datepicker-left {
  left: 0 !important;
}
